

<form action="{{ settings.newsletter_action }}" class="popup-subscribe-form validate newsletter-form" method="post" id="mc-embedded-subscribe-form"  name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll" class="mc-form">
    <div class="input-newsletter">
      <input class="input_text" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
      <button class="btn-newsletter" type="submit" id="mc-embedded-subscribe"><i class="fa fa-paper-plane-o"></i></button>
    </div>
  </div>
</form>